section {
  width: 100%;
  margin: 0 auto;
}

/* table style */
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 3px 3px 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* table head style */
th {
  color: white;
  padding: 5px 0;
}

th:nth-child(odd) {
  background: #3b4b6a;
}

th:nth-child(even) {
  background: #3db390;
}

/* table body style */
tbody {
  background: #fefbfc;
}

td {
  padding: 5px 0;
}
